<div id="<%= dom_id todo %>">
  <p>
    <strong>Description:</strong>
    <%= todo.description %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= todo.due_date %>
  </p>

  <p>
    <strong>Done:</strong>
    <%= todo.done %>
  </p>

</div>
